*{
    margin: 0px;
    padding: 0px;
}
.logo{
    margin: 10px;
}
nav{
    box-shadow: 2px 2px rgba(163, 163, 163, 0.274);
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
    margin: 40px;
}